apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - pvc.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  # - prometheus-servicemonitor.yaml  # Disabled: Prometheus Operator not installed
  - grafana-dashboard.yaml
