apiVersion: v1
kind: Service
metadata:
  name: metrics-app
  namespace: metrics-app
  labels:
    app: metrics-app
spec:
  selector:
    app: metrics-app
  ports:
  - port: 8000
    targetPort: 8000
    name: metrics
  type: ClusterIP
