apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rest-api
  namespace: rest-api
spec:
  rules:
  - host: api.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: rest-api
            port:
              number: 5000
