apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      sourceRef:
        kind: HelmRepository
        name: grafana
  targetNamespace: grafana
  install:
    createNamespace: true
  values:
    service:
      type: ClusterIP
      port: 80
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            url: http://prometheus-prometheus-server.prometheus.svc.cluster.local:80
            access: proxy
            isDefault: true
          - name: Loki
            type: loki
            url: http://loki-loki.loki.svc.cluster.local:3100
            access: proxy
            jsonData:
              maxLines: 1000
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: 'default'
            orgId: 1
            folder: ''
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    dashboardsConfigMaps:
      default: "grafana-dashboards,grafana-logs-metrics-dashboard,grafana-error-dashboard,grafana-batchjob-dashboard"
