apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
  targetNamespace: prometheus
  install:
    createNamespace: true
  values:
    server:
      persistentVolume:
        enabled: true
        size: 5Gi
        storageClass: longhorn
      retention: "2d"
      service:
        type: ClusterIP
        servicePort: 80
    alertmanager:
      enabled: false
    pushgateway:
      enabled: false
    nodeExporter:
      enabled: true
    kubeStateMetrics:
      enabled: true
    serverFiles:
      prometheus.yml:
        scrape_configs:
          - job_name: 'metrics-app'
            static_configs:
              - targets: ['metrics-app.metrics-app.svc.cluster.local:8000']
            scrape_interval: 30s
            metrics_path: '/metrics'
