apiVersion: v1
kind: Service
metadata:
  name: alert-webhook
  namespace: alertmanager
spec:
  selector:
    app: alert-webhook
  ports:
    - port: 5001
      targetPort: 5001
      name: http
  type: ClusterIP
